body{
  overflow: hidden;
  height: 100vh;
  &.disable{
    overflow: initial;
    height: 100%;
  }
}

.homePage{
  @include size;
  position: absolute;
  top: 0;
  background-color: $lightWhite;
  color: $lightBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
  transition: all 1s;

  h1{
    font-size: 4rem;
    transform: translateY(-200px);
  }

  p{
    transform: translateY(-50px);
  }

  h1,p{
    opacity: 0;
    transition: all 1s;
    &.reset{
      transform: none;
      opacity: 1;
    }
  }

  &.disappear{
    transform: translateY(100vh);
  }
  &.none{
    display: none;
  }
}