body{
  // overflow: hidden;
  height: 100vh;
  &.disable{
    // overflow: initial;
    height: 100%;
  }
}

.homePage{
  @include size;
  position: absolute;
  top: 0;
  background-color: $lightWhite;
  color: $lightBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
  transition: all 1s;
  &.disappear{
    opacity: 0;
  }
  &.none{
    display: none;
  }
}